/* Homepage */

.contact-bg{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue-4);
    color: white;
}

.contact-bg .contact-side-img{
    width: 50%;
    height: 200px;
    background: url(../assets/conatct-us-image.jpg) no-repeat center;
    background-size: cover;
}

.contact-btn{
    padding: 10px 20px;
    background-color: var(--grey-2);
    color: white;
    outline: none;
    border: none;
    font-weight: 700;
}

.contact-bg .section .h2{
    margin-bottom: 20px;
}


.address_full{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    padding: 20px 40px;
}

.address{
    width: 50%;
}

.address span{
    font-weight: 600;
}

.contact{
    width: 50%;
}