.hero_section {
  padding-top: 100px;
}

.hero_section h1 {
  text-align: left !important;
  font-size: 4rem;
  font-weight: 800;
  line-height: 5rem;
  color: var(--dark-4);
}

.hero_section{
    margin-top: 50px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.hero_section_btn_cta{
    background-color: var(--dark-4);
    color: var(--orange);
    outline: none;
    border: none;
    padding: 20px 40px;
    border-radius: 40px;
    font-weight: 700;
}

.hero_section img{
    width: 550px;
    padding-top: 30px;
}
