@import url(./navbar.css);
@import url(./hero_section.css);
@import url(./contact.css);
@import url(./footer.css);
@import url(./about_us.css);
@import url(./services_section.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --size-1: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
  --size-2: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --size-3: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --size-4: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --size-5: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
  --size-6: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --size-7: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);
}

body{
  width: 100%;
}

:root {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: rgb(255, 255, 255);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --blue-5: #013F7C;
  --blue-4: #3C61A3;
  --blue-3: #6685CB;
  --blue-2: #8EACF5;
  --blue-1: #B8D4FF;

  --grey-2: #3f4756;
  --grey-1: #a3abbd;
}

li {
  list-style: none;
}

.empty {
  background-color:var(--grey-1);
  height: 100vh;
}

.section {
  padding: 50px 100px;
}

.section h1 {
  font-weight: 800;
  text-align: center;
  font-size: 3rem;
}

@media screen and (max-width: 768px) {
  .hero_section {
    flex-direction: column;
  }

  .section {
    padding: 20px 20px;
  }
}




/* Scroller Code */

/* Hide the scrollbar for WebKit-based browsers */
body {
  scrollbar-width: none; /* Firefox doesn't support this property */
}

body::-webkit-scrollbar {
  display: none; /* Hide the scrollbar for WebKit-based browsers */
}

body::-webkit-scrollbar-thumb {
  background-color: transparent; /* Hide the thumb (the draggable part) */
}

body::-webkit-scrollbar-track {
  background-color: transparent; /* Hide the track (the scrollbar background) */
}

